# Group API Project
Crime vs. Unemployment Rates

What, if any, relationship is there between national property crimes rates versus unemployment rates from 2010 to 2020?

Is there a noticeable difference between the years? Is there a potential correlation between crime and unemployment rates? Is there a stronger correlation in one subgroup of property crimes than the others?

In [46]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
from pprint import pprint
import citipy
import json
from citipy import citipy
import seaborn as sns
import prettytable

#Federal Bureau of Investigation
#Crime Data Explorer
FBI_api_key="HXzuNSaaIO46x38N0iVVKpMDgrP6GG3mxBcacgRH"

#U.S. Bureau of Labor Statistics
BLS_api_key="489c914f30b34dac8ebc65feb25a15df"

## Performing the API Calls and Collecting the Data

In [47]:
#FBI JSON request
#base_url: https://api.usa.gov/crime/fbi/sapi/api/nibrs/{burglary}/offense/national/{count}

fbi_base_url = 'https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/larceny-theft-offenses/offense/national/count?limit=1&api_key='+ FBI_api_key
# This url will give us the number of offense with larceny-theft-offenses ^^^^^

# Changed to larceny from burglary (larceny is the broad definition)
fbi_larceny = requests.get(fbi_base_url)
fbi_json_data_larc = json.loads(fbi_larceny.text)
print(fbi_json_data_larc)



# I think we are going to need population data as well so that we can create a percent of larceny offensers to total
# population.  That way we can effectively compare it to the unemployment percentage.

{'results': [{'incident_count': 5625, 'offense_count': 5625, 'data_year': 2015}, {'incident_count': 2413, 'offense_count': 2413, 'data_year': 1992}, {'incident_count': 204092, 'offense_count': 204092, 'data_year': 2005}, {'incident_count': 3052, 'offense_count': 3052, 'data_year': 2000}, {'incident_count': 6209, 'offense_count': 6209, 'data_year': 2007}, {'incident_count': 82094, 'offense_count': 82094, 'data_year': 1997}, {'incident_count': 903, 'offense_count': 903, 'data_year': 1996}, {'incident_count': 3910, 'offense_count': 3910, 'data_year': 2014}, {'incident_count': 162511, 'offense_count': 162511, 'data_year': 1993}, {'incident_count': 436104, 'offense_count': 436104, 'data_year': 2017}, {'incident_count': 391497, 'offense_count': 391497, 'data_year': 2012}, {'incident_count': 3791, 'offense_count': 3791, 'data_year': 2015}, {'incident_count': 1438, 'offense_count': 1438, 'data_year': 1992}, {'incident_count': 90774, 'offense_count': 90774, 'data_year': 1998}, {'incident_count': 102839, 'offense_count': 102839, 'data_year': 2002}, {'incident_count': 176445, 'offense_count': 176445, 'data_year': 2004}, {'incident_count': 5605, 'offense_count': 5605, 'data_year': 2014}, {'incident_count': 22117, 'offense_count': 22117, 'data_year': 1993}, {'incident_count': 1299, 'offense_count': 1299, 'data_year': 1991}, {'incident_count': 8697, 'offense_count': 8697, 'data_year': 2001}, {'incident_count': 1704, 'offense_count': 1704, 'data_year': 1991}, {'incident_count': 85692, 'offense_count': 85692, 'data_year': 1996}, {'incident_count': 7320, 'offense_count': 7320, 'data_year': 2017}, {'incident_count': 563989, 'offense_count': 563989, 'data_year': 2004}, {'incident_count': 7077, 'offense_count': 7077, 'data_year': 2012}, {'incident_count': 4555, 'offense_count': 4555, 'data_year': 2001}, {'incident_count': 245703, 'offense_count': 245703, 'data_year': 2000}, {'incident_count': 34306, 'offense_count': 34306, 'data_year': 1994}, {'incident_count': 80886, 'offense_count': 80886, 'data_year': 2016}, {'incident_count': 365390, 'offense_count': 365390, 'data_year': 2007}, {'incident_count': 133622, 'offense_count': 133622, 'data_year': 2006}, {'incident_count': 62975, 'offense_count': 62975, 'data_year': 1996}, {'incident_count': 5007, 'offense_count': 5007, 'data_year': 2005}, {'incident_count': 843988, 'offense_count': 843988, 'data_year': 2019}, {'incident_count': 131122, 'offense_count': 131122, 'data_year': 2000}, {'incident_count': 118673, 'offense_count': 118673, 'data_year': 2009}, {'incident_count': 1893, 'offense_count': 1893, 'data_year': 1995}, {'incident_count': 1209, 'offense_count': 1209, 'data_year': 1997}, {'incident_count': 229988, 'offense_count': 229988, 'data_year': 2007}, {'incident_count': 325036, 'offense_count': 325036, 'data_year': 1999}, {'incident_count': 194512, 'offense_count': 194512, 'data_year': 2020}, {'incident_count': 1091, 'offense_count': 1091, 'data_year': 1995}, {'incident_count': 112921, 'offense_count': 112921, 'data_year': 2003}, {'incident_count': 1824, 'offense_count': 1824, 'data_year': 1998}, {'incident_count': 4447, 'offense_count': 4447, 'data_year': 2013}, {'incident_count': 219479, 'offense_count': 219479, 'data_year': 2019}, {'incident_count': 104438, 'offense_count': 104438, 'data_year': 2011}, {'incident_count': 172497, 'offense_count': 172497, 'data_year': 1998}, {'incident_count': 6308, 'offense_count': 6308, 'data_year': 2018}, {'incident_count': 6538, 'offense_count': 6538, 'data_year': 2010}, {'incident_count': 340829, 'offense_count': 340829, 'data_year': 2005}, {'incident_count': 914347, 'offense_count': 914347, 'data_year': 2020}, {'incident_count': 6200, 'offense_count': 6200, 'data_year': 2013}, {'incident_count': 128936, 'offense_count': 128936, 'data_year': 2008}, {'incident_count': 132131, 'offense_count': 132131, 'data_year': 1997}, {'incident_count': 3944, 'offense_count': 3944, 'data_year': 2018}, {'incident_count': 107014, 'offense_count': 107014, 'data_year': 1999}, {'incident_count': 331289, 'offense_count': 331289, 'data_year': 2012}, {'incident_count': 390067, 'offense_count': 390067, 'data_year': 2017}, {'incident_count': 5471, 'offense_count': 5471, 'data_year': 2010}, {'incident_count': 174105, 'offense_count': 174105, 'data_year': 2003}, {'incident_count': 214014, 'offense_count': 214014, 'data_year': 2015}, {'incident_count': 3824, 'offense_count': 3824, 'data_year': 2002}, {'incident_count': 90653, 'offense_count': 90653, 'data_year': 1991}, {'incident_count': 9349, 'offense_count': 9349, 'data_year': 2004}, {'incident_count': 452512, 'offense_count': 452512, 'data_year': 2001}, {'incident_count': 70411, 'offense_count': 70411, 'data_year': 2000}, {'incident_count': 293415, 'offense_count': 293415, 'data_year': 2009}, {'incident_count': 69524, 'offense_count': 69524, 'data_year': 1994}, {'incident_count': 423196, 'offense_count': 423196, 'data_year': 2016}, {'incident_count': 25002, 'offense_count': 25002, 'data_year': 1992}, {'incident_count': 127253, 'offense_count': 127253, 'data_year': 2007}, {'incident_count': 200217, 'offense_count': 200217, 'data_year': 2006}, {'incident_count': 36513, 'offense_count': 36513, 'data_year': 1996}, {'incident_count': 5971, 'offense_count': 5971, 'data_year': 2004}, {'incident_count': 222097, 'offense_count': 222097, 'data_year': 2014}, {'incident_count': 1090, 'offense_count': 1090, 'data_year': 1993}, {'incident_count': 85734, 'offense_count': 85734, 'data_year': 2017}, {'incident_count': 17295, 'offense_count': 17295, 'data_year': 1991}, {'incident_count': 94775, 'offense_count': 94775, 'data_year': 2012}, {'incident_count': 659157, 'offense_count': 659157, 'data_year': 2015}, {'incident_count': 430, 'offense_count': 430, 'data_year': 1994}, {'incident_count': 7194, 'offense_count': 7194, 'data_year': 2016}, {'incident_count': 257024, 'offense_count': 257024, 'data_year': 2008}, {'incident_count': 673895, 'offense_count': 673895, 'data_year': 2014}, {'incident_count': 2533, 'offense_count': 2533, 'data_year': 1993}, {'incident_count': 120099, 'offense_count': 120099, 'data_year': 1992}, {'incident_count': 160727, 'offense_count': 160727, 'data_year': 2001}, {'incident_count': 301162, 'offense_count': 301162, 'data_year': 2002}, {'incident_count': 290203, 'offense_count': 290203, 'data_year': 2011}, {'incident_count': 649818, 'offense_count': 649818, 'data_year': 2010}, {'incident_count': 3969, 'offense_count': 3969, 'data_year': 2003}, {'incident_count': 5009, 'offense_count': 5009, 'data_year': 2020}, {'incident_count': 387586, 'offense_count': 387586, 'data_year': 2011}, {'incident_count': 711662, 'offense_count': 711662, 'data_year': 2018}, {'incident_count': 41897, 'offense_count': 41897, 'data_year': 1998}, {'incident_count': 167668, 'offense_count': 167668, 'data_year': 2002}, {'incident_count': 5853, 'offense_count': 5853, 'data_year': 2006}, {'incident_count': 134495, 'offense_count': 134495, 'data_year': 2005}, {'incident_count': 6113, 'offense_count': 6113, 'data_year': 2009}, {'incident_count': 379720, 'offense_count': 379720, 'data_year': 2008}, {'incident_count': 41083, 'offense_count': 41083, 'data_year': 1997}, {'incident_count': 698405, 'offense_count': 698405, 'data_year': 2013}, {'incident_count': 7010, 'offense_count': 7010, 'data_year': 2020}, {'incident_count': 38206, 'offense_count': 38206, 'data_year': 1995}, {'incident_count': 414142, 'offense_count': 414142, 'data_year': 2009}, {'incident_count': 7819, 'offense_count': 7819, 'data_year': 2019}, {'incident_count': 197179, 'offense_count': 197179, 'data_year': 2018}, {'incident_count': 6171, 'offense_count': 6171, 'data_year': 2008}, {'incident_count': 54559, 'offense_count': 54559, 'data_year': 1994}, {'incident_count': 387829, 'offense_count': 387829, 'data_year': 2016}, {'incident_count': 357646, 'offense_count': 357646, 'data_year': 2006}, {'incident_count': 213582, 'offense_count': 213582, 'data_year': 2010}, {'incident_count': 4862, 'offense_count': 4862, 'data_year': 1999}, {'incident_count': 234070, 'offense_count': 234070, 'data_year': 2013}, {'incident_count': 4782, 'offense_count': 4782, 'data_year': 2019}, {'incident_count': 290198, 'offense_count': 290198, 'data_year': 2003}, {'incident_count': 142996, 'offense_count': 142996, 'data_year': 1995}, {'incident_count': 6020, 'offense_count': 6020, 'data_year': 2011}, {'incident_count': 2782, 'offense_count': 2782, 'data_year': 1999}, {'incident_count': 102561, 'offense_count': 102561, 'data_year': 1999}, {'incident_count': 21980, 'offense_count': 21980, 'data_year': 1991}, {'incident_count': 204493, 'offense_count': 204493, 'data_year': 2017}, {'incident_count': 237507, 'offense_count': 237507, 'data_year': 2012}, {'incident_count': 2234, 'offense_count': 2234, 'data_year': 1994}, {'incident_count': 3657, 'offense_count': 3657, 'data_year': 2016}, {'incident_count': 308000, 'offense_count': 308000, 'data_year': 2004}, {'incident_count': 336, 'offense_count': 336, 'data_year': 1993}, {'incident_count': 178529, 'offense_count': 178529, 'data_year': 1996}, {'incident_count': 1058, 'offense_count': 1058, 'data_year': 1994}, {'incident_count': 6073, 'offense_count': 6073, 'data_year': 2016}, {'incident_count': 654468, 'offense_count': 654468, 'data_year': 2007}, {'incident_count': 86583, 'offense_count': 86583, 'data_year': 2001}, {'incident_count': 425705, 'offense_count': 425705, 'data_year': 2000}, {'incident_count': 505204, 'offense_count': 505204, 'data_year': 2019}, {'incident_count': 9046, 'offense_count': 9046, 'data_year': 2002}, {'incident_count': 502563, 'offense_count': 502563, 'data_year': 2020}, {'incident_count': 77496, 'offense_count': 77496, 'data_year': 2015}, {'incident_count': 682679, 'offense_count': 682679, 'data_year': 2017}, {'incident_count': 4439, 'offense_count': 4439, 'data_year': 2004}, {'incident_count': 67110, 'offense_count': 67110, 'data_year': 1993}, {'incident_count': 717995, 'offense_count': 717995, 'data_year': 2012}, {'incident_count': 4888, 'offense_count': 4888, 'data_year': 2002}, {'incident_count': 142667, 'offense_count': 142667, 'data_year': 2000}, {'incident_count': 33521, 'offense_count': 33521, 'data_year': 1992}, {'incident_count': 205812, 'offense_count': 205812, 'data_year': 2007}, {'incident_count': 50289, 'offense_count': 50289, 'data_year': 1996}, {'incident_count': 79405, 'offense_count': 79405, 'data_year': 2014}, {'incident_count': 6276, 'offense_count': 6276, 'data_year': 2008}, {'incident_count': 6072, 'offense_count': 6072, 'data_year': 2011}, {'incident_count': 281363, 'offense_count': 281363, 'data_year': 1998}, {'incident_count': 95961, 'offense_count': 95961, 'data_year': 2018}, {'incident_count': 2109, 'offense_count': 2109, 'data_year': 1999}, {'incident_count': 115177, 'offense_count': 115177, 'data_year': 2010}, {'incident_count': 237725, 'offense_count': 237725, 'data_year': 1997}, {'incident_count': 6877, 'offense_count': 6877, 'data_year': 2008}, {'incident_count': 86898, 'offense_count': 86898, 'data_year': 2013}, {'incident_count': 657197, 'offense_count': 657197, 'data_year': 2020}, {'incident_count': 5684, 'offense_count': 5684, 'data_year': 2011}, {'incident_count': 621012, 'offense_count': 621012, 'data_year': 2005}, {'incident_count': 9751, 'offense_count': 9751, 'data_year': 2019}, {'incident_count': 53711, 'offense_count': 53711, 'data_year': 1993}, {'incident_count': 194086, 'offense_count': 194086, 'data_year': 2004}, {'incident_count': 6999, 'offense_count': 6999, 'data_year': 2006}, {'incident_count': 8703, 'offense_count': 8703, 'data_year': 2020}, {'incident_count': 6924, 'offense_count': 6924, 'data_year': 2009}, {'incident_count': 565548, 'offense_count': 565548, 'data_year': 2019}, {'incident_count': 9517, 'offense_count': 9517, 'data_year': 2003}, {'incident_count': 88867, 'offense_count': 88867, 'data_year': 1998}, {'incident_count': 192641, 'offense_count': 192641, 'data_year': 1999}, {'incident_count': 8282, 'offense_count': 8282, 'data_year': 2006}, {'incident_count': 194430, 'offense_count': 194430, 'data_year': 2005}, {'incident_count': 6080, 'offense_count': 6080, 'data_year': 2009}, {'incident_count': 72235, 'offense_count': 72235, 'data_year': 1997}, {'incident_count': 5049, 'offense_count': 5049, 'data_year': 2003}, {'incident_count': 30993, 'offense_count': 30993, 'data_year': 1995}, {'incident_count': 35987, 'offense_count': 35987, 'data_year': 1993}, {'incident_count': 5928, 'offense_count': 5928, 'data_year': 2017}, {'incident_count': 6364, 'offense_count': 6364, 'data_year': 2012}, {'incident_count': 350693, 'offense_count': 350693, 'data_year': 2013}, {'incident_count': 380920, 'offense_count': 380920, 'data_year': 2015}, {'incident_count': 3656, 'offense_count': 3656, 'data_year': 2001}, {'incident_count': 3885, 'offense_count': 3885, 'data_year': 2017}, {'incident_count': 277907, 'offense_count': 277907, 'data_year': 2010}, {'incident_count': 5709, 'offense_count': 5709, 'data_year': 2012}, {'incident_count': 6428, 'offense_count': 6428, 'data_year': 1991}, {'incident_count': 356587, 'offense_count': 356587, 'data_year': 2014}, {'incident_count': 466657, 'offense_count': 466657, 'data_year': 2002}, {'incident_count': 415107, 'offense_count': 415107, 'data_year': 2018}, {'incident_count': 24939, 'offense_count': 24939, 'data_year': 1994}, {'incident_count': 209612, 'offense_count': 209612, 'data_year': 2016}, {'incident_count': 57002, 'offense_count': 57002, 'data_year': 1992}, {'incident_count': 6971, 'offense_count': 6971, 'data_year': 2007}, {'incident_count': 11391, 'offense_count': 11391, 'data_year': 1992}, {'incident_count': 49438, 'offense_count': 49438, 'data_year': 1995}, {'incident_count': 6630, 'offense_count': 6630, 'data_year': 2000}, {'incident_count': 6836, 'offense_count': 6836, 'data_year': 2014}, {'incident_count': 42937, 'offense_count': 42937, 'data_year': 1991}, {'incident_count': 2322, 'offense_count': 2322, 'data_year': 1996}, {'incident_count': 164397, 'offense_count': 164397, 'data_year': 1994}, {'incident_count': 671341, 'offense_count': 671341, 'data_year': 2016}, {'incident_count': 6842, 'offense_count': 6842, 'data_year': 2007}, {'incident_count': 160409, 'offense_count': 160409, 'data_year': 2002}, {'incident_count': 280787, 'offense_count': 280787, 'data_year': 2001}, {'incident_count': 7192, 'offense_count': 7192, 'data_year': 2015}, {'incident_count': 3811, 'offense_count': 3811, 'data_year': 2000}, {'incident_count': 119456, 'offense_count': 119456, 'data_year': 2004}, {'incident_count': 1325, 'offense_count': 1325, 'data_year': 1996}, {'incident_count': 6973, 'offense_count': 6973, 'data_year': 2013}, {'incident_count': 226382, 'offense_count': 226382, 'data_year': 2011}, {'incident_count': 114779, 'offense_count': 114779, 'data_year': 2019}, {'incident_count': 616521, 'offense_count': 616521, 'data_year': 2009}, {'incident_count': 156354, 'offense_count': 156354, 'data_year': 2001}, {'incident_count': 649610, 'offense_count': 649610, 'data_year': 2006}, {'incident_count': 7686, 'offense_count': 7686, 'data_year': 2018}, {'incident_count': 202265, 'offense_count': 202265, 'data_year': 2008}, {'incident_count': 67358, 'offense_count': 67358, 'data_year': 1995}, {'incident_count': 489699, 'offense_count': 489699, 'data_year': 2003}, {'incident_count': 46706, 'offense_count': 46706, 'data_year': 1999}, {'incident_count': 5867, 'offense_count': 5867, 'data_year': 2010}, {'incident_count': 37783, 'offense_count': 37783, 'data_year': 1991}, {'incident_count': 204325, 'offense_count': 204325, 'data_year': 2006}, {'incident_count': 406194, 'offense_count': 406194, 'data_year': 2010}, {'incident_count': 374148, 'offense_count': 374148, 'data_year': 2014}, {'incident_count': 201895, 'offense_count': 201895, 'data_year': 2009}, {'incident_count': 688624, 'offense_count': 688624, 'data_year': 2011}, {'incident_count': 3285, 'offense_count': 3285, 'data_year': 1997}, {'incident_count': 2286, 'offense_count': 2286, 'data_year': 1998}, {'incident_count': 465010, 'offense_count': 465010, 'data_year': 2018}, {'incident_count': 8636, 'offense_count': 8636, 'data_year': 2005}, {'incident_count': 47059, 'offense_count': 47059, 'data_year': 1992}, {'incident_count': 686, 'offense_count': 686, 'data_year': 1995}, {'incident_count': 373265, 'offense_count': 373265, 'data_year': 2013}, {'incident_count': 164192, 'offense_count': 164192, 'data_year': 2020}, {'incident_count': 647328, 'offense_count': 647328, 'data_year': 2008}, {'incident_count': 1745, 'offense_count': 1745, 'data_year': 1997}, {'incident_count': 163445, 'offense_count': 163445, 'data_year': 2003}, {'incident_count': 3767, 'offense_count': 3767, 'data_year': 1998}, {'incident_count': 6632, 'offense_count': 6632, 'data_year': 2005}, {'incident_count': 393009, 'offense_count': 393009, 'data_year': 2015}], 'pagination': {'count': 240, 'page': 0, 'pages': 1, 'per_page': 0}}

In [48]:
#organizing json for better analysis
fbi_json = fbi_larceny.json()

fbi_json

{'results': [{'incident_count': 5625,
   'offense_count': 5625,
   'data_year': 2015},
  {'incident_count': 2413, 'offense_count': 2413, 'data_year': 1992},
  {'incident_count': 204092, 'offense_count': 204092, 'data_year': 2005},
  {'incident_count': 3052, 'offense_count': 3052, 'data_year': 2000},
  {'incident_count': 6209, 'offense_count': 6209, 'data_year': 2007},
  {'incident_count': 82094, 'offense_count': 82094, 'data_year': 1997},
  {'incident_count': 903, 'offense_count': 903, 'data_year': 1996},
  {'incident_count': 3910, 'offense_count': 3910, 'data_year': 2014},
  {'incident_count': 162511, 'offense_count': 162511, 'data_year': 1993},
  {'incident_count': 436104, 'offense_count': 436104, 'data_year': 2017},
  {'incident_count': 391497, 'offense_count': 391497, 'data_year': 2012},
  {'incident_count': 3791, 'offense_count': 3791, 'data_year': 2015},
  {'incident_count': 1438, 'offense_count': 1438, 'data_year': 1992},
  {'incident_count': 90774, 'offense_count': 90774, 'data_year': 1998},
  {'incident_count': 102839, 'offense_count': 102839, 'data_year': 2002},
  {'incident_count': 176445, 'offense_count': 176445, 'data_year': 2004},
  {'incident_count': 5605, 'offense_count': 5605, 'data_year': 2014},
  {'incident_count': 22117, 'offense_count': 22117, 'data_year': 1993},
  {'incident_count': 1299, 'offense_count': 1299, 'data_year': 1991},
  {'incident_count': 8697, 'offense_count': 8697, 'data_year': 2001},
  {'incident_count': 1704, 'offense_count': 1704, 'data_year': 1991},
  {'incident_count': 85692, 'offense_count': 85692, 'data_year': 1996},
  {'incident_count': 7320, 'offense_count': 7320, 'data_year': 2017},
  {'incident_count': 563989, 'offense_count': 563989, 'data_year': 2004},
  {'incident_count': 7077, 'offense_count': 7077, 'data_year': 2012},
  {'incident_count': 4555, 'offense_count': 4555, 'data_year': 2001},
  {'incident_count': 245703, 'offense_count': 245703, 'data_year': 2000},
  {'incident_count': 34306, 'offense_count': 34306, 'data_year': 1994},
  {'incident_count': 80886, 'offense_count': 80886, 'data_year': 2016},
  {'incident_count': 365390, 'offense_count': 365390, 'data_year': 2007},
  {'incident_count': 133622, 'offense_count': 133622, 'data_year': 2006},
  {'incident_count': 62975, 'offense_count': 62975, 'data_year': 1996},
  {'incident_count': 5007, 'offense_count': 5007, 'data_year': 2005},
  {'incident_count': 843988, 'offense_count': 843988, 'data_year': 2019},
  {'incident_count': 131122, 'offense_count': 131122, 'data_year': 2000},
  {'incident_count': 118673, 'offense_count': 118673, 'data_year': 2009},
  {'incident_count': 1893, 'offense_count': 1893, 'data_year': 1995},
  {'incident_count': 1209, 'offense_count': 1209, 'data_year': 1997},
  {'incident_count': 229988, 'offense_count': 229988, 'data_year': 2007},
  {'incident_count': 325036, 'offense_count': 325036, 'data_year': 1999},
  {'incident_count': 194512, 'offense_count': 194512, 'data_year': 2020},
  {'incident_count': 1091, 'offense_count': 1091, 'data_year': 1995},
  {'incident_count': 112921, 'offense_count': 112921, 'data_year': 2003},
  {'incident_count': 1824, 'offense_count': 1824, 'data_year': 1998},
  {'incident_count': 4447, 'offense_count': 4447, 'data_year': 2013},
  {'incident_count': 219479, 'offense_count': 219479, 'data_year': 2019},
  {'incident_count': 104438, 'offense_count': 104438, 'data_year': 2011},
  {'incident_count': 172497, 'offense_count': 172497, 'data_year': 1998},
  {'incident_count': 6308, 'offense_count': 6308, 'data_year': 2018},
  {'incident_count': 6538, 'offense_count': 6538, 'data_year': 2010},
  {'incident_count': 340829, 'offense_count': 340829, 'data_year': 2005},
  {'incident_count': 914347, 'offense_count': 914347, 'data_year': 2020},
  {'incident_count': 6200, 'offense_count': 6200, 'data_year': 2013},
  {'incident_count': 128936, 'offense_count': 128936, 'data_year': 2008},
  {'incident_count': 132131, 'offense_count': 132131, 'data_year': 1997},
  {'incident_count': 3944, 'offense_count': 3944, 'data_year': 2018},
  {'incident_count': 107014, 'offense_count': 107014, 'data_year': 1999},
  {'incident_count': 331289, 'offense_count': 331289, 'data_year': 2012},
  {'incident_count': 390067, 'offense_count': 390067, 'data_year': 2017},
  {'incident_count': 5471, 'offense_count': 5471, 'data_year': 2010},
  {'incident_count': 174105, 'offense_count': 174105, 'data_year': 2003},
  {'incident_count': 214014, 'offense_count': 214014, 'data_year': 2015},
  {'incident_count': 3824, 'offense_count': 3824, 'data_year': 2002},
  {'incident_count': 90653, 'offense_count': 90653, 'data_year': 1991},
  {'incident_count': 9349, 'offense_count': 9349, 'data_year': 2004},
  {'incident_count': 452512, 'offense_count': 452512, 'data_year': 2001},
  {'incident_count': 70411, 'offense_count': 70411, 'data_year': 2000},
  {'incident_count': 293415, 'offense_count': 293415, 'data_year': 2009},
  {'incident_count': 69524, 'offense_count': 69524, 'data_year': 1994},
  {'incident_count': 423196, 'offense_count': 423196, 'data_year': 2016},
  {'incident_count': 25002, 'offense_count': 25002, 'data_year': 1992},
  {'incident_count': 127253, 'offense_count': 127253, 'data_year': 2007},
  {'incident_count': 200217, 'offense_count': 200217, 'data_year': 2006},
  {'incident_count': 36513, 'offense_count': 36513, 'data_year': 1996},
  {'incident_count': 5971, 'offense_count': 5971, 'data_year': 2004},
  {'incident_count': 222097, 'offense_count': 222097, 'data_year': 2014},
  {'incident_count': 1090, 'offense_count': 1090, 'data_year': 1993},
  {'incident_count': 85734, 'offense_count': 85734, 'data_year': 2017},
  {'incident_count': 17295, 'offense_count': 17295, 'data_year': 1991},
  {'incident_count': 94775, 'offense_count': 94775, 'data_year': 2012},
  {'incident_count': 659157, 'offense_count': 659157, 'data_year': 2015},
  {'incident_count': 430, 'offense_count': 430, 'data_year': 1994},
  {'incident_count': 7194, 'offense_count': 7194, 'data_year': 2016},
  {'incident_count': 257024, 'offense_count': 257024, 'data_year': 2008},
  {'incident_count': 673895, 'offense_count': 673895, 'data_year': 2014},
  {'incident_count': 2533, 'offense_count': 2533, 'data_year': 1993},
  {'incident_count': 120099, 'offense_count': 120099, 'data_year': 1992},
  {'incident_count': 160727, 'offense_count': 160727, 'data_year': 2001},
  {'incident_count': 301162, 'offense_count': 301162, 'data_year': 2002},
  {'incident_count': 290203, 'offense_count': 290203, 'data_year': 2011},
  {'incident_count': 649818, 'offense_count': 649818, 'data_year': 2010},
  {'incident_count': 3969, 'offense_count': 3969, 'data_year': 2003},
  {'incident_count': 5009, 'offense_count': 5009, 'data_year': 2020},
  {'incident_count': 387586, 'offense_count': 387586, 'data_year': 2011},
  {'incident_count': 711662, 'offense_count': 711662, 'data_year': 2018},
  {'incident_count': 41897, 'offense_count': 41897, 'data_year': 1998},
  {'incident_count': 167668, 'offense_count': 167668, 'data_year': 2002},
  {'incident_count': 5853, 'offense_count': 5853, 'data_year': 2006},
  {'incident_count': 134495, 'offense_count': 134495, 'data_year': 2005},
  {'incident_count': 6113, 'offense_count': 6113, 'data_year': 2009},
  {'incident_count': 379720, 'offense_count': 379720, 'data_year': 2008},
  {'incident_count': 41083, 'offense_count': 41083, 'data_year': 1997},
  {'incident_count': 698405, 'offense_count': 698405, 'data_year': 2013},
  {'incident_count': 7010, 'offense_count': 7010, 'data_year': 2020},
  {'incident_count': 38206, 'offense_count': 38206, 'data_year': 1995},
  {'incident_count': 414142, 'offense_count': 414142, 'data_year': 2009},
  {'incident_count': 7819, 'offense_count': 7819, 'data_year': 2019},
  {'incident_count': 197179, 'offense_count': 197179, 'data_year': 2018},
  {'incident_count': 6171, 'offense_count': 6171, 'data_year': 2008},
  {'incident_count': 54559, 'offense_count': 54559, 'data_year': 1994},
  {'incident_count': 387829, 'offense_count': 387829, 'data_year': 2016},
  {'incident_count': 357646, 'offense_count': 357646, 'data_year': 2006},
  {'incident_count': 213582, 'offense_count': 213582, 'data_year': 2010},
  {'incident_count': 4862, 'offense_count': 4862, 'data_year': 1999},
  {'incident_count': 234070, 'offense_count': 234070, 'data_year': 2013},
  {'incident_count': 4782, 'offense_count': 4782, 'data_year': 2019},
  {'incident_count': 290198, 'offense_count': 290198, 'data_year': 2003},
  {'incident_count': 142996, 'offense_count': 142996, 'data_year': 1995},
  {'incident_count': 6020, 'offense_count': 6020, 'data_year': 2011},
  {'incident_count': 2782, 'offense_count': 2782, 'data_year': 1999},
  {'incident_count': 102561, 'offense_count': 102561, 'data_year': 1999},
  {'incident_count': 21980, 'offense_count': 21980, 'data_year': 1991},
  {'incident_count': 204493, 'offense_count': 204493, 'data_year': 2017},
  {'incident_count': 237507, 'offense_count': 237507, 'data_year': 2012},
  {'incident_count': 2234, 'offense_count': 2234, 'data_year': 1994},
  {'incident_count': 3657, 'offense_count': 3657, 'data_year': 2016},
  {'incident_count': 308000, 'offense_count': 308000, 'data_year': 2004},
  {'incident_count': 336, 'offense_count': 336, 'data_year': 1993},
  {'incident_count': 178529, 'offense_count': 178529, 'data_year': 1996},
  {'incident_count': 1058, 'offense_count': 1058, 'data_year': 1994},
  {'incident_count': 6073, 'offense_count': 6073, 'data_year': 2016},
  {'incident_count': 654468, 'offense_count': 654468, 'data_year': 2007},
  {'incident_count': 86583, 'offense_count': 86583, 'data_year': 2001},
  {'incident_count': 425705, 'offense_count': 425705, 'data_year': 2000},
  {'incident_count': 505204, 'offense_count': 505204, 'data_year': 2019},
  {'incident_count': 9046, 'offense_count': 9046, 'data_year': 2002},
  {'incident_count': 502563, 'offense_count': 502563, 'data_year': 2020},
  {'incident_count': 77496, 'offense_count': 77496, 'data_year': 2015},
  {'incident_count': 682679, 'offense_count': 682679, 'data_year': 2017},
  {'incident_count': 4439, 'offense_count': 4439, 'data_year': 2004},
  {'incident_count': 67110, 'offense_count': 67110, 'data_year': 1993},
  {'incident_count': 717995, 'offense_count': 717995, 'data_year': 2012},
  {'incident_count': 4888, 'offense_count': 4888, 'data_year': 2002},
  {'incident_count': 142667, 'offense_count': 142667, 'data_year': 2000},
  {'incident_count': 33521, 'offense_count': 33521, 'data_year': 1992},
  {'incident_count': 205812, 'offense_count': 205812, 'data_year': 2007},
  {'incident_count': 50289, 'offense_count': 50289, 'data_year': 1996},
  {'incident_count': 79405, 'offense_count': 79405, 'data_year': 2014},
  {'incident_count': 6276, 'offense_count': 6276, 'data_year': 2008},
  {'incident_count': 6072, 'offense_count': 6072, 'data_year': 2011},
  {'incident_count': 281363, 'offense_count': 281363, 'data_year': 1998},
  {'incident_count': 95961, 'offense_count': 95961, 'data_year': 2018},
  {'incident_count': 2109, 'offense_count': 2109, 'data_year': 1999},
  {'incident_count': 115177, 'offense_count': 115177, 'data_year': 2010},
  {'incident_count': 237725, 'offense_count': 237725, 'data_year': 1997},
  {'incident_count': 6877, 'offense_count': 6877, 'data_year': 2008},
  {'incident_count': 86898, 'offense_count': 86898, 'data_year': 2013},
  {'incident_count': 657197, 'offense_count': 657197, 'data_year': 2020},
  {'incident_count': 5684, 'offense_count': 5684, 'data_year': 2011},
  {'incident_count': 621012, 'offense_count': 621012, 'data_year': 2005},
  {'incident_count': 9751, 'offense_count': 9751, 'data_year': 2019},
  {'incident_count': 53711, 'offense_count': 53711, 'data_year': 1993},
  {'incident_count': 194086, 'offense_count': 194086, 'data_year': 2004},
  {'incident_count': 6999, 'offense_count': 6999, 'data_year': 2006},
  {'incident_count': 8703, 'offense_count': 8703, 'data_year': 2020},
  {'incident_count': 6924, 'offense_count': 6924, 'data_year': 2009},
  {'incident_count': 565548, 'offense_count': 565548, 'data_year': 2019},
  {'incident_count': 9517, 'offense_count': 9517, 'data_year': 2003},
  {'incident_count': 88867, 'offense_count': 88867, 'data_year': 1998},
  {'incident_count': 192641, 'offense_count': 192641, 'data_year': 1999},
  {'incident_count': 8282, 'offense_count': 8282, 'data_year': 2006},
  {'incident_count': 194430, 'offense_count': 194430, 'data_year': 2005},
  {'incident_count': 6080, 'offense_count': 6080, 'data_year': 2009},
  {'incident_count': 72235, 'offense_count': 72235, 'data_year': 1997},
  {'incident_count': 5049, 'offense_count': 5049, 'data_year': 2003},
  {'incident_count': 30993, 'offense_count': 30993, 'data_year': 1995},
  {'incident_count': 35987, 'offense_count': 35987, 'data_year': 1993},
  {'incident_count': 5928, 'offense_count': 5928, 'data_year': 2017},
  {'incident_count': 6364, 'offense_count': 6364, 'data_year': 2012},
  {'incident_count': 350693, 'offense_count': 350693, 'data_year': 2013},
  {'incident_count': 380920, 'offense_count': 380920, 'data_year': 2015},
  {'incident_count': 3656, 'offense_count': 3656, 'data_year': 2001},
  {'incident_count': 3885, 'offense_count': 3885, 'data_year': 2017},
  {'incident_count': 277907, 'offense_count': 277907, 'data_year': 2010},
  {'incident_count': 5709, 'offense_count': 5709, 'data_year': 2012},
  {'incident_count': 6428, 'offense_count': 6428, 'data_year': 1991},
  {'incident_count': 356587, 'offense_count': 356587, 'data_year': 2014},
  {'incident_count': 466657, 'offense_count': 466657, 'data_year': 2002},
  {'incident_count': 415107, 'offense_count': 415107, 'data_year': 2018},
  {'incident_count': 24939, 'offense_count': 24939, 'data_year': 1994},
  {'incident_count': 209612, 'offense_count': 209612, 'data_year': 2016},
  {'incident_count': 57002, 'offense_count': 57002, 'data_year': 1992},
  {'incident_count': 6971, 'offense_count': 6971, 'data_year': 2007},
  {'incident_count': 11391, 'offense_count': 11391, 'data_year': 1992},
  {'incident_count': 49438, 'offense_count': 49438, 'data_year': 1995},
  {'incident_count': 6630, 'offense_count': 6630, 'data_year': 2000},
  {'incident_count': 6836, 'offense_count': 6836, 'data_year': 2014},
  {'incident_count': 42937, 'offense_count': 42937, 'data_year': 1991},
  {'incident_count': 2322, 'offense_count': 2322, 'data_year': 1996},
  {'incident_count': 164397, 'offense_count': 164397, 'data_year': 1994},
  {'incident_count': 671341, 'offense_count': 671341, 'data_year': 2016},
  {'incident_count': 6842, 'offense_count': 6842, 'data_year': 2007},
  {'incident_count': 160409, 'offense_count': 160409, 'data_year': 2002},
  {'incident_count': 280787, 'offense_count': 280787, 'data_year': 2001},
  {'incident_count': 7192, 'offense_count': 7192, 'data_year': 2015},
  {'incident_count': 3811, 'offense_count': 3811, 'data_year': 2000},
  {'incident_count': 119456, 'offense_count': 119456, 'data_year': 2004},
  {'incident_count': 1325, 'offense_count': 1325, 'data_year': 1996},
  {'incident_count': 6973, 'offense_count': 6973, 'data_year': 2013},
  {'incident_count': 226382, 'offense_count': 226382, 'data_year': 2011},
  {'incident_count': 114779, 'offense_count': 114779, 'data_year': 2019},
  {'incident_count': 616521, 'offense_count': 616521, 'data_year': 2009},
  {'incident_count': 156354, 'offense_count': 156354, 'data_year': 2001},
  {'incident_count': 649610, 'offense_count': 649610, 'data_year': 2006},
  {'incident_count': 7686, 'offense_count': 7686, 'data_year': 2018},
  {'incident_count': 202265, 'offense_count': 202265, 'data_year': 2008},
  {'incident_count': 67358, 'offense_count': 67358, 'data_year': 1995},
  {'incident_count': 489699, 'offense_count': 489699, 'data_year': 2003},
  {'incident_count': 46706, 'offense_count': 46706, 'data_year': 1999},
  {'incident_count': 5867, 'offense_count': 5867, 'data_year': 2010},
  {'incident_count': 37783, 'offense_count': 37783, 'data_year': 1991},
  {'incident_count': 204325, 'offense_count': 204325, 'data_year': 2006},
  {'incident_count': 406194, 'offense_count': 406194, 'data_year': 2010},
  {'incident_count': 374148, 'offense_count': 374148, 'data_year': 2014},
  {'incident_count': 201895, 'offense_count': 201895, 'data_year': 2009},
  {'incident_count': 688624, 'offense_count': 688624, 'data_year': 2011},
  {'incident_count': 3285, 'offense_count': 3285, 'data_year': 1997},
  {'incident_count': 2286, 'offense_count': 2286, 'data_year': 1998},
  {'incident_count': 465010, 'offense_count': 465010, 'data_year': 2018},
  {'incident_count': 8636, 'offense_count': 8636, 'data_year': 2005},
  {'incident_count': 47059, 'offense_count': 47059, 'data_year': 1992},
  {'incident_count': 686, 'offense_count': 686, 'data_year': 1995},
  {'incident_count': 373265, 'offense_count': 373265, 'data_year': 2013},
  {'incident_count': 164192, 'offense_count': 164192, 'data_year': 2020},
  {'incident_count': 647328, 'offense_count': 647328, 'data_year': 2008},
  {'incident_count': 1745, 'offense_count': 1745, 'data_year': 1997},
  {'incident_count': 163445, 'offense_count': 163445, 'data_year': 2003},
  {'incident_count': 3767, 'offense_count': 3767, 'data_year': 1998},
  {'incident_count': 6632, 'offense_count': 6632, 'data_year': 2005},
  {'incident_count': 393009, 'offense_count': 393009, 'data_year': 2015}],
 'pagination': {'count': 240, 'page': 0, 'pages': 1, 'per_page': 0}}

In [49]:
#creating dataframe, sorting by year, then filtering for 2011-2020
fbi_df=pd.DataFrame(fbi_json['results'])
fbi_sorted=fbi_df.sort_values(by='data_year')
fbi_yr_filtered = fbi_sorted.loc[fbi_sorted['data_year'] >= 2011]
pd.DataFrame(fbi_yr_filtered)
# Why are there multiple entries for each year???

     incident_count  offense_count  data_year
89           290203         290203       2011
118            6020           6020       2011
93           387586         387586       2011
225          688624         688624       2011
149            6072           6072       2011
..              ...            ...        ...
92             5009           5009       2020
136          502563         502563       2020
51           914347         914347       2020
233          164192         164192       2020
40           194512         194512       2020

[80 rows x 3 columns]

In [50]:
raw_fbi_data_larc = []
raw_fbi_data_larc.append(fbi_json_data_larc)
fbi_data_unformed_larc = pd.json_normalize(raw_fbi_data_larc, sep='_')
#fbi_data_unformed_larc = fbi_data_unformed_larc.set_index("ui_type")
fbi_data_unformed_larc.to_csv('fbi_data_unformed_larc_csv.csv')

In [58]:
#BLS JSON request
base_url="https://api.bls.gov/publicAPI/v2/timeseries/data/?registrationkey="+BLS_api_key+"&catalog=false&startyear=2011&endyear=2020&calculations=true&annualaverage=true&aspects=true"

# changed start year to 2011 so we can get 2020 data in the API call
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2020"})
bls_unemp = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
bls_json_data_unemp = json.loads(bls_unemp.text)
for series in bls_json_data_unemp['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

In [52]:
print(bls_json_data_unemp)

{'status': 'REQUEST_SUCCEEDED', 'responseTime': 279, 'message': [], 'Results': {'series': [{'seriesID': 'CUUR0000SA0', 'data': [{'year': '2020', 'period': 'M12', 'periodName': 'December', 'value': '260.474', 'footnotes': [{}]}, {'year': '2020', 'period': 'M11', 'periodName': 'November', 'value': '260.229', 'footnotes': [{}]}, {'year': '2020', 'period': 'M10', 'periodName': 'October', 'value': '260.388', 'footnotes': [{}]}, {'year': '2020', 'period': 'M09', 'periodName': 'September', 'value': '260.280', 'footnotes': [{}]}, {'year': '2020', 'period': 'M08', 'periodName': 'August', 'value': '259.918', 'footnotes': [{}]}, {'year': '2020', 'period': 'M07', 'periodName': 'July', 'value': '259.101', 'footnotes': [{}]}, {'year': '2020', 'period': 'M06', 'periodName': 'June', 'value': '257.797', 'footnotes': [{}]}, {'year': '2020', 'period': 'M05', 'periodName': 'May', 'value': '256.394', 'footnotes': [{}]}, {'year': '2020', 'period': 'M04', 'periodName': 'April', 'value': '256.389', 'footnotes': [{}]}, {'year': '2020', 'period': 'M03', 'periodName': 'March', 'value': '258.115', 'footnotes': [{}]}, {'year': '2020', 'period': 'M02', 'periodName': 'February', 'value': '258.678', 'footnotes': [{}]}, {'year': '2020', 'period': 'M01', 'periodName': 'January', 'value': '257.971', 'footnotes': [{}]}, {'year': '2019', 'period': 'M12', 'periodName': 'December', 'value': '256.974', 'footnotes': [{}]}, {'year': '2019', 'period': 'M11', 'periodName': 'November', 'value': '257.208', 'footnotes': [{}]}, {'year': '2019', 'period': 'M10', 'periodName': 'October', 'value': '257.346', 'footnotes': [{}]}, {'year': '2019', 'period': 'M09', 'periodName': 'September', 'value': '256.759', 'footnotes': [{}]}, {'year': '2019', 'period': 'M08', 'periodName': 'August', 'value': '256.558', 'footnotes': [{}]}, {'year': '2019', 'period': 'M07', 'periodName': 'July', 'value': '256.571', 'footnotes': [{}]}, {'year': '2019', 'period': 'M06', 'periodName': 'June', 'value': '256.143', 'footnotes': [{}]}, {'year': '2019', 'period': 'M05', 'periodName': 'May', 'value': '256.092', 'footnotes': [{}]}, {'year': '2019', 'period': 'M04', 'periodName': 'April', 'value': '255.548', 'footnotes': [{}]}, {'year': '2019', 'period': 'M03', 'periodName': 'March', 'value': '254.202', 'footnotes': [{}]}, {'year': '2019', 'period': 'M02', 'periodName': 'February', 'value': '252.776', 'footnotes': [{}]}, {'year': '2019', 'period': 'M01', 'periodName': 'January', 'value': '251.712', 'footnotes': [{}]}, {'year': '2018', 'period': 'M12', 'periodName': 'December', 'value': '251.233', 'footnotes': [{}]}, {'year': '2018', 'period': 'M11', 'periodName': 'November', 'value': '252.038', 'footnotes': [{}]}, {'year': '2018', 'period': 'M10', 'periodName': 'October', 'value': '252.885', 'footnotes': [{}]}, {'year': '2018', 'period': 'M09', 'periodName': 'September', 'value': '252.439', 'footnotes': [{}]}, {'year': '2018', 'period': 'M08', 'periodName': 'August', 'value': '252.146', 'footnotes': [{}]}, {'year': '2018', 'period': 'M07', 'periodName': 'July', 'value': '252.006', 'footnotes': [{}]}, {'year': '2018', 'period': 'M06', 'periodName': 'June', 'value': '251.989', 'footnotes': [{}]}, {'year': '2018', 'period': 'M05', 'periodName': 'May', 'value': '251.588', 'footnotes': [{}]}, {'year': '2018', 'period': 'M04', 'periodName': 'April', 'value': '250.546', 'footnotes': [{}]}, {'year': '2018', 'period': 'M03', 'periodName': 'March', 'value': '249.554', 'footnotes': [{}]}, {'year': '2018', 'period': 'M02', 'periodName': 'February', 'value': '248.991', 'footnotes': [{}]}, {'year': '2018', 'period': 'M01', 'periodName': 'January', 'value': '247.867', 'footnotes': [{}]}, {'year': '2017', 'period': 'M12', 'periodName': 'December', 'value': '246.524', 'footnotes': [{}]}, {'year': '2017', 'period': 'M11', 'periodName': 'November', 'value': '246.669', 'footnotes': [{}]}, {'year': '2017', 'period': 'M10', 'periodName': 'October', 'value': '246.663', 'footnotes': [{}]}, {'year': '2017', 'period': 'M09', 'periodName': 'September', 'value': '246.819', 'footnotes': [{}]}, {'year': '2017', 'period': 'M08', 'periodName': 'August', 'value': '245.519', 'footnotes': [{}]}, {'year': '2017', 'period': 'M07', 'periodName': 'July', 'value': '244.786', 'footnotes': [{}]}, {'year': '2017', 'period': 'M06', 'periodName': 'June', 'value': '244.955', 'footnotes': [{}]}, {'year': '2017', 'period': 'M05', 'periodName': 'May', 'value': '244.733', 'footnotes': [{}]}, {'year': '2017', 'period': 'M04', 'periodName': 'April', 'value': '244.524', 'footnotes': [{}]}, {'year': '2017', 'period': 'M03', 'periodName': 'March', 'value': '243.801', 'footnotes': [{}]}, {'year': '2017', 'period': 'M02', 'periodName': 'February', 'value': '243.603', 'footnotes': [{}]}, {'year': '2017', 'period': 'M01', 'periodName': 'January', 'value': '242.839', 'footnotes': [{}]}, {'year': '2016', 'period': 'M12', 'periodName': 'December', 'value': '241.432', 'footnotes': [{}]}, {'year': '2016', 'period': 'M11', 'periodName': 'November', 'value': '241.353', 'footnotes': [{}]}, {'year': '2016', 'period': 'M10', 'periodName': 'October', 'value': '241.729', 'footnotes': [{}]}, {'year': '2016', 'period': 'M09', 'periodName': 'September', 'value': '241.428', 'footnotes': [{}]}, {'year': '2016', 'period': 'M08', 'periodName': 'August', 'value': '240.849', 'footnotes': [{}]}, {'year': '2016', 'period': 'M07', 'periodName': 'July', 'value': '240.628', 'footnotes': [{}]}, {'year': '2016', 'period': 'M06', 'periodName': 'June', 'value': '241.018', 'footnotes': [{}]}, {'year': '2016', 'period': 'M05', 'periodName': 'May', 'value': '240.229', 'footnotes': [{}]}, {'year': '2016', 'period': 'M04', 'periodName': 'April', 'value': '239.261', 'footnotes': [{}]}, {'year': '2016', 'period': 'M03', 'periodName': 'March', 'value': '238.132', 'footnotes': [{}]}, {'year': '2016', 'period': 'M02', 'periodName': 'February', 'value': '237.111', 'footnotes': [{}]}, {'year': '2016', 'period': 'M01', 'periodName': 'January', 'value': '236.916', 'footnotes': [{}]}, {'year': '2015', 'period': 'M12', 'periodName': 'December', 'value': '236.525', 'footnotes': [{}]}, {'year': '2015', 'period': 'M11', 'periodName': 'November', 'value': '237.336', 'footnotes': [{}]}, {'year': '2015', 'period': 'M10', 'periodName': 'October', 'value': '237.838', 'footnotes': [{}]}, {'year': '2015', 'period': 'M09', 'periodName': 'September', 'value': '237.945', 'footnotes': [{}]}, {'year': '2015', 'period': 'M08', 'periodName': 'August', 'value': '238.316', 'footnotes': [{}]}, {'year': '2015', 'period': 'M07', 'periodName': 'July', 'value': '238.654', 'footnotes': [{}]}, {'year': '2015', 'period': 'M06', 'periodName': 'June', 'value': '238.638', 'footnotes': [{}]}, {'year': '2015', 'period': 'M05', 'periodName': 'May', 'value': '237.805', 'footnotes': [{}]}, {'year': '2015', 'period': 'M04', 'periodName': 'April', 'value': '236.599', 'footnotes': [{}]}, {'year': '2015', 'period': 'M03', 'periodName': 'March', 'value': '236.119', 'footnotes': [{}]}, {'year': '2015', 'period': 'M02', 'periodName': 'February', 'value': '234.722', 'footnotes': [{}]}, {'year': '2015', 'period': 'M01', 'periodName': 'January', 'value': '233.707', 'footnotes': [{}]}, {'year': '2014', 'period': 'M12', 'periodName': 'December', 'value': '234.812', 'footnotes': [{}]}, {'year': '2014', 'period': 'M11', 'periodName': 'November', 'value': '236.151', 'footnotes': [{}]}, {'year': '2014', 'period': 'M10', 'periodName': 'October', 'value': '237.433', 'footnotes': [{}]}, {'year': '2014', 'period': 'M09', 'periodName': 'September', 'value': '238.031', 'footnotes': [{}]}, {'year': '2014', 'period': 'M08', 'periodName': 'August', 'value': '237.852', 'footnotes': [{}]}, {'year': '2014', 'period': 'M07', 'periodName': 'July', 'value': '238.250', 'footnotes': [{}]}, {'year': '2014', 'period': 'M06', 'periodName': 'June', 'value': '238.343', 'footnotes': [{}]}, {'year': '2014', 'period': 'M05', 'periodName': 'May', 'value': '237.900', 'footnotes': [{}]}, {'year': '2014', 'period': 'M04', 'periodName': 'April', 'value': '237.072', 'footnotes': [{}]}, {'year': '2014', 'period': 'M03', 'periodName': 'March', 'value': '236.293', 'footnotes': [{}]}, {'year': '2014', 'period': 'M02', 'periodName': 'February', 'value': '234.781', 'footnotes': [{}]}, {'year': '2014', 'period': 'M01', 'periodName': 'January', 'value': '233.916', 'footnotes': [{}]}, {'year': '2013', 'period': 'M12', 'periodName': 'December', 'value': '233.049', 'footnotes': [{}]}, {'year': '2013', 'period': 'M11', 'periodName': 'November', 'value': '233.069', 'footnotes': [{}]}, {'year': '2013', 'period': 'M10', 'periodName': 'October', 'value': '233.546', 'footnotes': [{}]}, {'year': '2013', 'period': 'M09', 'periodName': 'September', 'value': '234.149', 'footnotes': [{}]}, {'year': '2013', 'period': 'M08', 'periodName': 'August', 'value': '233.877', 'footnotes': [{}]}, {'year': '2013', 'period': 'M07', 'periodName': 'July', 'value': '233.596', 'footnotes': [{}]}, {'year': '2013', 'period': 'M06', 'periodName': 'June', 'value': '233.504', 'footnotes': [{}]}, {'year': '2013', 'period': 'M05', 'periodName': 'May', 'value': '232.945', 'footnotes': [{}]}, {'year': '2013', 'period': 'M04', 'periodName': 'April', 'value': '232.531', 'footnotes': [{}]}, {'year': '2013', 'period': 'M03', 'periodName': 'March', 'value': '232.773', 'footnotes': [{}]}, {'year': '2013', 'period': 'M02', 'periodName': 'February', 'value': '232.166', 'footnotes': [{}]}, {'year': '2013', 'period': 'M01', 'periodName': 'January', 'value': '230.280', 'footnotes': [{}]}, {'year': '2012', 'period': 'M12', 'periodName': 'December', 'value': '229.601', 'footnotes': [{}]}, {'year': '2012', 'period': 'M11', 'periodName': 'November', 'value': '230.221', 'footnotes': [{}]}, {'year': '2012', 'period': 'M10', 'periodName': 'October', 'value': '231.317', 'footnotes': [{}]}, {'year': '2012', 'period': 'M09', 'periodName': 'September', 'value': '231.407', 'footnotes': [{}]}, {'year': '2012', 'period': 'M08', 'periodName': 'August', 'value': '230.379', 'footnotes': [{}]}, {'year': '2012', 'period': 'M07', 'periodName': 'July', 'value': '229.104', 'footnotes': [{}]}, {'year': '2012', 'period': 'M06', 'periodName': 'June', 'value': '229.478', 'footnotes': [{}]}, {'year': '2012', 'period': 'M05', 'periodName': 'May', 'value': '229.815', 'footnotes': [{}]}, {'year': '2012', 'period': 'M04', 'periodName': 'April', 'value': '230.085', 'footnotes': [{}]}, {'year': '2012', 'period': 'M03', 'periodName': 'March', 'value': '229.392', 'footnotes': [{}]}, {'year': '2012', 'period': 'M02', 'periodName': 'February', 'value': '227.663', 'footnotes': [{}]}, {'year': '2012', 'period': 'M01', 'periodName': 'January', 'value': '226.665', 'footnotes': [{}]}, {'year': '2011', 'period': 'M12', 'periodName': 'December', 'value': '225.672', 'footnotes': [{}]}, {'year': '2011', 'period': 'M11', 'periodName': 'November', 'value': '226.230', 'footnotes': [{}]}, {'year': '2011', 'period': 'M10', 'periodName': 'October', 'value': '226.421', 'footnotes': [{}]}, {'year': '2011', 'period': 'M09', 'periodName': 'September', 'value': '226.889', 'footnotes': [{}]}, {'year': '2011', 'period': 'M08', 'periodName': 'August', 'value': '226.545', 'footnotes': [{}]}, {'year': '2011', 'period': 'M07', 'periodName': 'July', 'value': '225.922', 'footnotes': [{}]}, {'year': '2011', 'period': 'M06', 'periodName': 'June', 'value': '225.722', 'footnotes': [{}]}, {'year': '2011', 'period': 'M05', 'periodName': 'May', 'value': '225.964', 'footnotes': [{}]}, {'year': '2011', 'period': 'M04', 'periodName': 'April', 'value': '224.906', 'footnotes': [{}]}, {'year': '2011', 'period': 'M03', 'periodName': 'March', 'value': '223.467', 'footnotes': [{}]}, {'year': '2011', 'period': 'M02', 'periodName': 'February', 'value': '221.309', 'footnotes': [{}]}, {'year': '2011', 'period': 'M01', 'periodName': 'January', 'value': '220.223', 'footnotes': [{}]}]}, {'seriesID': 'SUUR0000SA0', 'data': [{'year': '2020', 'period': 'M12', 'periodName': 'December', 'value': '146.477', 'footnotes': [{'code': 'U', 'text': 'Interim'}]}, {'year': '2020', 'period': 'M11', 'periodName': 'November', 'value': '146.352', 'footnotes': [{'code': 'U', 'text': 'Interim'}]}, {'year': '2020', 'period': 'M10', 'periodName': 'October', 'value': '146.461', 'footnotes': [{'code': 'U', 'text': 'Interim'}]}, {'year': '2020', 'period': 'M09', 'periodName': 'September', 'value': '146.417', 'footnotes': [{}]}, {'year': '2020', 'period': 'M08', 'periodName': 'August', 'value': '146.270', 'footnotes': [{}]}, {'year': '2020', 'period': 'M07', 'periodName': 'July', 'value': '145.747', 'footnotes': [{}]}, {'year': '2020', 'period': 'M06', 'periodName': 'June', 'value': '144.847', 'footnotes': [{}]}, {'year': '2020', 'period': 'M05', 'periodName': 'May', 'value': '144.018', 'footnotes': [{}]}, {'year': '2020', 'period': 'M04', 'periodName': 'April', 'value': '144.142', 'footnotes': [{}]}, {'year': '2020', 'period': 'M03', 'periodName': 'March', 'value': '144.913', 'footnotes': [{}]}, {'year': '2020', 'period': 'M02', 'periodName': 'February', 'value': '145.193', 'footnotes': [{}]}, {'year': '2020', 'period': 'M01', 'periodName': 'January', 'value': '144.813', 'footnotes': [{}]}, {'year': '2019', 'period': 'M12', 'periodName': 'December', 'value': '144.251', 'footnotes': [{}]}, {'year': '2019', 'period': 'M11', 'periodName': 'November', 'value': '144.518', 'footnotes': [{}]}, {'year': '2019', 'period': 'M10', 'periodName': 'October', 'value': '144.629', 'footnotes': [{}]}, {'year': '2019', 'period': 'M09', 'periodName': 'September', 'value': '144.428', 'footnotes': [{}]}, {'year': '2019', 'period': 'M08', 'periodName': 'August', 'value': '144.388', 'footnotes': [{}]}, {'year': '2019', 'period': 'M07', 'periodName': 'July', 'value': '144.409', 'footnotes': [{}]}, {'year': '2019', 'period': 'M06', 'periodName': 'June', 'value': '144.243', 'footnotes': [{}]}, {'year': '2019', 'period': 'M05', 'periodName': 'May', 'value': '144.183', 'footnotes': [{}]}, {'year': '2019', 'period': 'M04', 'periodName': 'April', 'value': '143.926', 'footnotes': [{}]}, {'year': '2019', 'period': 'M03', 'periodName': 'March', 'value': '143.297', 'footnotes': [{}]}, {'year': '2019', 'period': 'M02', 'periodName': 'February', 'value': '142.571', 'footnotes': [{}]}, {'year': '2019', 'period': 'M01', 'periodName': 'January', 'value': '142.001', 'footnotes': [{}]}, {'year': '2018', 'period': 'M12', 'periodName': 'December', 'value': '141.699', 'footnotes': [{}]}, {'year': '2018', 'period': 'M11', 'periodName': 'November', 'value': '142.238', 'footnotes': [{}]}, {'year': '2018', 'period': 'M10', 'periodName': 'October', 'value': '142.700', 'footnotes': [{}]}, {'year': '2018', 'period': 'M09', 'periodName': 'September', 'value': '142.489', 'footnotes': [{}]}, {'year': '2018', 'period': 'M08', 'periodName': 'August', 'value': '142.317', 'footnotes': [{}]}, {'year': '2018', 'period': 'M07', 'periodName': 'July', 'value': '142.317', 'footnotes': [{}]}, {'year': '2018', 'period': 'M06', 'periodName': 'June', 'value': '142.349', 'footnotes': [{}]}, {'year': '2018', 'period': 'M05', 'periodName': 'May', 'value': '142.146', 'footnotes': [{}]}, {'year': '2018', 'period': 'M04', 'periodName': 'April', 'value': '141.662', 'footnotes': [{}]}, {'year': '2018', 'period': 'M03', 'periodName': 'March', 'value': '141.142', 'footnotes': [{}]}, {'year': '2018', 'period': 'M02', 'periodName': 'February', 'value': '140.805', 'footnotes': [{}]}, {'year': '2018', 'period': 'M01', 'periodName': 'January', 'value': '140.239', 'footnotes': [{}]}, {'year': '2017', 'period': 'M12', 'periodName': 'December', 'value': '139.546', 'footnotes': [{}]}, {'year': '2017', 'period': 'M11', 'periodName': 'November', 'value': '139.720', 'footnotes': [{}]}, {'year': '2017', 'period': 'M10', 'periodName': 'October', 'value': '139.782', 'footnotes': [{}]}, {'year': '2017', 'period': 'M09', 'periodName': 'September', 'value': '139.878', 'footnotes': [{}]}, {'year': '2017', 'period': 'M08', 'periodName': 'August', 'value': '139.128', 'footnotes': [{}]}, {'year': '2017', 'period': 'M07', 'periodName': 'July', 'value': '138.755', 'footnotes': [{}]}, {'year': '2017', 'period': 'M06', 'periodName': 'June', 'value': '138.989', 'footnotes': [{}]}, {'year': '2017', 'period': 'M05', 'periodName': 'May', 'value': '138.922', 'footnotes': [{}]}, {'year': '2017', 'period': 'M04', 'periodName': 'April', 'value': '138.810', 'footnotes': [{}]}, {'year': '2017', 'period': 'M03', 'periodName': 'March', 'value': '138.461', 'footnotes': [{}]}, {'year': '2017', 'period': 'M02', 'periodName': 'February', 'value': '138.403', 'footnotes': [{}]}, {'year': '2017', 'period': 'M01', 'periodName': 'January', 'value': '138.035', 'footnotes': [{}]}, {'year': '2016', 'period': 'M12', 'periodName': 'December', 'value': '137.221', 'footnotes': [{}]}, {'year': '2016', 'period': 'M11', 'periodName': 'November', 'value': '137.253', 'footnotes': [{}]}, {'year': '2016', 'period': 'M10', 'periodName': 'October', 'value': '137.536', 'footnotes': [{}]}, {'year': '2016', 'period': 'M09', 'periodName': 'September', 'value': '137.328', 'footnotes': [{}]}, {'year': '2016', 'period': 'M08', 'periodName': 'August', 'value': '137.026', 'footnotes': [{}]}, {'year': '2016', 'period': 'M07', 'periodName': 'July', 'value': '137.007', 'footnotes': [{}]}, {'year': '2016', 'period': 'M06', 'periodName': 'June', 'value': '137.329', 'footnotes': [{}]}, {'year': '2016', 'period': 'M05', 'periodName': 'May', 'value': '136.895', 'footnotes': [{}]}, {'year': '2016', 'period': 'M04', 'periodName': 'April', 'value': '136.332', 'footnotes': [{}]}, {'year': '2016', 'period': 'M03', 'periodName': 'March', 'value': '135.655', 'footnotes': [{}]}, {'year': '2016', 'period': 'M02', 'periodName': 'February', 'value': '134.953', 'footnotes': [{}]}, {'year': '2016', 'period': 'M01', 'periodName': 'January', 'value': '134.966', 'footnotes': [{}]}, {'year': '2015', 'period': 'M12', 'periodName': 'December', 'value': '134.788', 'footnotes': [{}]}, {'year': '2015', 'period': 'M11', 'periodName': 'November', 'value': '135.393', 'footnotes': [{}]}, {'year': '2015', 'period': 'M10', 'periodName': 'October', 'value': '135.735', 'footnotes': [{}]}, {'year': '2015', 'period': 'M09', 'periodName': 'September', 'value': '135.837', 'footnotes': [{}]}, {'year': '2015', 'period': 'M08', 'periodName': 'August', 'value': '136.125', 'footnotes': [{}]}, {'year': '2015', 'period': 'M07', 'periodName': 'July', 'value': '136.371', 'footnotes': [{}]}, {'year': '2015', 'period': 'M06', 'periodName': 'June', 'value': '136.391', 'footnotes': [{}]}, {'year': '2015', 'period': 'M05', 'periodName': 'May', 'value': '135.977', 'footnotes': [{}]}, {'year': '2015', 'period': 'M04', 'periodName': 'April', 'value': '135.222', 'footnotes': [{}]}, {'year': '2015', 'period': 'M03', 'periodName': 'March', 'value': '134.969', 'footnotes': [{}]}, {'year': '2015', 'period': 'M02', 'periodName': 'February', 'value': '134.053', 'footnotes': [{}]}, {'year': '2015', 'period': 'M01', 'periodName': 'January', 'value': '133.487', 'footnotes': [{}]}, {'year': '2014', 'period': 'M12', 'periodName': 'December', 'value': '134.207', 'footnotes': [{}]}, {'year': '2014', 'period': 'M11', 'periodName': 'November', 'value': '135.107', 'footnotes': [{}]}, {'year': '2014', 'period': 'M10', 'periodName': 'October', 'value': '135.891', 'footnotes': [{}]}, {'year': '2014', 'period': 'M09', 'periodName': 'September', 'value': '136.211', 'footnotes': [{}]}, {'year': '2014', 'period': 'M08', 'periodName': 'August', 'value': '136.127', 'footnotes': [{}]}, {'year': '2014', 'period': 'M07', 'periodName': 'July', 'value': '136.392', 'footnotes': [{}]}, {'year': '2014', 'period': 'M06', 'periodName': 'June', 'value': '136.433', 'footnotes': [{}]}, {'year': '2014', 'period': 'M05', 'periodName': 'May', 'value': '136.216', 'footnotes': [{}]}, {'year': '2014', 'period': 'M04', 'periodName': 'April', 'value': '135.771', 'footnotes': [{}]}, {'year': '201

In [59]:
#organizing json data for easier analysis
bls_json = bls_unemp.json()

bls_json

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 298,
 'message': [],
 'Results': {'series': [{'seriesID': 'CUUR0000SA0',
    'data': [{'year': '2020',
      'period': 'M12',
      'periodName': 'December',
      'value': '260.474',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M11',
      'periodName': 'November',
      'value': '260.229',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M10',
      'periodName': 'October',
      'value': '260.388',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M09',
      'periodName': 'September',
      'value': '260.280',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M08',
      'periodName': 'August',
      'value': '259.918',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M07',
      'periodName': 'July',
      'value': '259.101',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M06',
      'periodName': 'June',
      'value': '257.797',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M05',
      'periodName': 'May',
      'value': '256.394',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M04',
      'periodName': 'April',
      'value': '256.389',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M03',
      'periodName': 'March',
      'value': '258.115',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M02',
      'periodName': 'February',
      'value': '258.678',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M01',
      'periodName': 'January',
      'value': '257.971',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M12',
      'periodName': 'December',
      'value': '256.974',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M11',
      'periodName': 'November',
      'value': '257.208',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M10',
      'periodName': 'October',
      'value': '257.346',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M09',
      'periodName': 'September',
      'value': '256.759',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M08',
      'periodName': 'August',
      'value': '256.558',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M07',
      'periodName': 'July',
      'value': '256.571',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M06',
      'periodName': 'June',
      'value': '256.143',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M05',
      'periodName': 'May',
      'value': '256.092',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M04',
      'periodName': 'April',
      'value': '255.548',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M03',
      'periodName': 'March',
      'value': '254.202',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M02',
      'periodName': 'February',
      'value': '252.776',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M01',
      'periodName': 'January',
      'value': '251.712',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M12',
      'periodName': 'December',
      'value': '251.233',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M11',
      'periodName': 'November',
      'value': '252.038',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M10',
      'periodName': 'October',
      'value': '252.885',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M09',
      'periodName': 'September',
      'value': '252.439',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M08',
      'periodName': 'August',
      'value': '252.146',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M07',
      'periodName': 'July',
      'value': '252.006',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M06',
      'periodName': 'June',
      'value': '251.989',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M05',
      'periodName': 'May',
      'value': '251.588',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M04',
      'periodName': 'April',
      'value': '250.546',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M03',
      'periodName': 'March',
      'value': '249.554',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M02',
      'periodName': 'February',
      'value': '248.991',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M01',
      'periodName': 'January',
      'value': '247.867',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M12',
      'periodName': 'December',
      'value': '246.524',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M11',
      'periodName': 'November',
      'value': '246.669',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M10',
      'periodName': 'October',
      'value': '246.663',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M09',
      'periodName': 'September',
      'value': '246.819',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M08',
      'periodName': 'August',
      'value': '245.519',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M07',
      'periodName': 'July',
      'value': '244.786',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M06',
      'periodName': 'June',
      'value': '244.955',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M05',
      'periodName': 'May',
      'value': '244.733',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M04',
      'periodName': 'April',
      'value': '244.524',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M03',
      'periodName': 'March',
      'value': '243.801',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M02',
      'periodName': 'February',
      'value': '243.603',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M01',
      'periodName': 'January',
      'value': '242.839',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M12',
      'periodName': 'December',
      'value': '241.432',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M11',
      'periodName': 'November',
      'value': '241.353',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M10',
      'periodName': 'October',
      'value': '241.729',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M09',
      'periodName': 'September',
      'value': '241.428',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M08',
      'periodName': 'August',
      'value': '240.849',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M07',
      'periodName': 'July',
      'value': '240.628',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M06',
      'periodName': 'June',
      'value': '241.018',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M05',
      'periodName': 'May',
      'value': '240.229',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M04',
      'periodName': 'April',
      'value': '239.261',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M03',
      'periodName': 'March',
      'value': '238.132',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M02',
      'periodName': 'February',
      'value': '237.111',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M01',
      'periodName': 'January',
      'value': '236.916',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M12',
      'periodName': 'December',
      'value': '236.525',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M11',
      'periodName': 'November',
      'value': '237.336',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M10',
      'periodName': 'October',
      'value': '237.838',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M09',
      'periodName': 'September',
      'value': '237.945',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M08',
      'periodName': 'August',
      'value': '238.316',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M07',
      'periodName': 'July',
      'value': '238.654',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M06',
      'periodName': 'June',
      'value': '238.638',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M05',
      'periodName': 'May',
      'value': '237.805',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M04',
      'periodName': 'April',
      'value': '236.599',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M03',
      'periodName': 'March',
      'value': '236.119',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M02',
      'periodName': 'February',
      'value': '234.722',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M01',
      'periodName': 'January',
      'value': '233.707',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '234.812',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '236.151',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '237.433',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '238.031',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '237.852',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '238.250',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '238.343',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '237.900',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '237.072',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '236.293',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '234.781',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '233.916',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M12',
      'periodName': 'December',
      'value': '233.049',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M11',
      'periodName': 'November',
      'value': '233.069',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M10',
      'periodName': 'October',
      'value': '233.546',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M09',
      'periodName': 'September',
      'value': '234.149',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M08',
      'periodName': 'August',
      'value': '233.877',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M07',
      'periodName': 'July',
      'value': '233.596',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M06',
      'periodName': 'June',
      'value': '233.504',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M05',
      'periodName': 'May',
      'value': '232.945',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M04',
      'periodName': 'April',
      'value': '232.531',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M03',
      'periodName': 'March',
      'value': '232.773',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M02',
      'periodName': 'February',
      'value': '232.166',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M01',
      'periodName': 'January',
      'value': '230.280',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M12',
      'periodName': 'December',
      'value': '229.601',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M11',
      'periodName': 'November',
      'value': '230.221',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M10',
      'periodName': 'October',
      'value': '231.317',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M09',
      'periodName': 'September',
      'value': '231.407',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M08',
      'periodName': 'August',
      'value': '230.379',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M07',
      'periodName': 'July',
      'value': '229.104',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M06',
      'periodName': 'June',
      'value': '229.478',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M05',
      'periodName': 'May',
      'value': '229.815',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M04',
      'periodName': 'April',
      'value': '230.085',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M03',
      'periodName': 'March',
      'value': '229.392',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M02',
      'periodName': 'February',
      'value': '227.663',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M01',
      'periodName': 'January',
      'value': '226.665',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M12',
      'periodName': 'December',
      'value': '225.672',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M11',
      'periodName': 'November',
      'value': '226.230',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M10',
      'periodName': 'October',
      'value': '226.421',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M09',
      'periodName': 'September',
      'value': '226.889',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M08',
      'periodName': 'August',
      'value': '226.545',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M07',
      'periodName': 'July',
      'value': '225.922',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M06',
      'periodName': 'June',
      'value': '225.722',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M05',
      'periodName': 'May',
      'value': '225.964',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M04',
      'periodName': 'April',
      'value': '224.906',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M03',
      'periodName': 'March',
      'value': '223.467',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M02',
      'periodName': 'February',
      'value': '221.309',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M01',
      'periodName': 'January',
      'value': '220.223',
      'footnotes': [{}]}]},
   {'seriesID': 'SUUR0000SA0',
    'data': [{'year': '2020',
      'period': 'M12',
      'periodName': 'December',
      'value': '146.477',
      'footnotes': [{'code': 'U', 'text': 'Interim'}]},
     {'year': '2020',
      'period': 'M11',
      'periodName': 'November',
      'value': '146.352',
      'footnotes': [{'code': 'U', 'text': 'Interim'}]},
     {'year': '2020',
      'period': 'M10',
      'periodName': 'October',
      'value': '146.461',
      'footnotes': [{'code': 'U', 'text': 'Interim'}]},
     {'year': '2020',
      'period': 'M09',
      'periodName': 'September',
      'value': '146.417',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M08',
      'periodName': 'August',
      'value': '146.270',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M07',
      'periodName': 'July',
      'value': '145.747',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M06',
      'periodName': 'June',
      'value': '144.847',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M05',
      'periodName': 'May',
      'value': '144.018',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M04',
      'periodName': 'April',
      'value': '144.142',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M03',
      'periodName': 'March',
      'value': '144.913',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M02',
      'periodName': 'February',
      'value': '145.193',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M01',
      'periodName': 'January',
      'value': '144.813',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M12',
      'periodName': 'December',
      'value': '144.251',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M11',
      'periodName': 'November',
      'value': '144.518',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M10',
      'periodName': 'October',
      'value': '144.629',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M09',
      'periodName': 'September',
      'value': '144.428',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M08',
      'periodName': 'August',
      'value': '144.388',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M07',
      'periodName': 'July',
      'value': '144.409',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M06',
      'periodName': 'June',
      'value': '144.243',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M05',
      'periodName': 'May',
      'value': '144.183',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M04',
      'periodName': 'April',
      'value': '143.926',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M03',
      'periodName': 'March',
      'value': '143.297',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M02',
      'periodName': 'February',
      'value': '142.571',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M01',
      'periodName': 'January',
      'value': '142.001',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M12',
      'periodName': 'December',
      'value': '141.699',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M11',
      'periodName': 'November',
      'value': '142.238',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M10',
      'periodName': 'October',
      'value': '142.700',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M09',
      'periodName': 'September',
      'value': '142.489',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M08',
      'periodName': 'August',
      'value': '142.317',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M07',
      'periodName': 'July',
      'value': '142.317',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M06',
      'periodName': 'June',
      'value': '142.349',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M05',
      'periodName': 'May',
      'value': '142.146',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M04',
      'periodName': 'April',
      'value': '141.662',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M03',
      'periodName': 'March',
      'value': '141.142',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M02',
      'periodName': 'February',
      'value': '140.805',
      'footnotes': [{}]},
     {'year': '2018',

In [56]:
#creating dataframe
bls_df=pd.DataFrame(bls_json['Results']['series'][0]['data'])
#sort by year
bls_sorted=bls_df.sort_values(by=['year','period'])
pd.DataFrame(bls_sorted)

     year period periodName    value footnotes
119  2011    M01    January  220.223      [{}]
118  2011    M02   February  221.309      [{}]
117  2011    M03      March  223.467      [{}]
116  2011    M04      April  224.906      [{}]
115  2011    M05        May  225.964      [{}]
..    ...    ...        ...      ...       ...
4    2020    M08     August  259.918      [{}]
3    2020    M09  September  260.280      [{}]
2    2020    M10    October  260.388      [{}]
1    2020    M11   November  260.229      [{}]
0    2020    M12   December  260.474      [{}]

[120 rows x 5 columns]

In [60]:
annual_avg=bls_sorted.groupby('year').agg({'value'):'mean'})
print(annual_avg)

#line plot for year v. value -- it sees these values as strings though, and won't let me convert to integers

#bls_sorted.plot(x='year', y=float('value'), kind='line')
#plt.show()

ValueError: could not convert string to float: 'value'

#code from Week 5 to help me remember the steps
#cleaning the data
cities_weather_unformed = pd.json_normalize(raw_weather, sep='_')
cities_weather_unformed = cities_weather_unformed.drop(cities_weather_unformed[cities_weather_unformed.message == "city not found"].index)

cities_weather_unformed = cities_weather_unformed.set_index("name")
cities_weather_unformed.to_csv('cities_weather_unformed_csv.csv')

#building a focused dataframe
cities_weather = cities_weather_unformed.filter(["sys_country", "coord_lon", "coord_lat", "main_pressure", "main_temp_max", "wind_speed", "main_humidity", "clouds_all"], axis=1)
cities_weather = pd.DataFrame(cities_weather)

#export to a csv for confirmation
cities_weather.to_csv('cities_weather_csv.csv')

#print a sample to show it works
cities_weather.head(75)

#code from Week 5 to help me remember the steps

raw_weather = []

base_url="http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + api_key

try:
    for city in cities:
        req = requests.get(base_url + f'&q={city}')
        json_data = req.json()
        raw_weather.append(json_data)
        print("Processing "+ city)

except requests.exceptions.RequestException as e:
        print("Processing "+ city + "failed.")